body {
  font-family: "Arial", sans-serif;
  background-color: #b4888b;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #daceb6;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.recipe-image {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.time-table {
  display: flex;
  justify-content: space-between;
  background-color: #e0f7fa;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
}

.time-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #b2ebf2;
}

.time-item:last-child {
  border-right: 2px solid #b2ebf2;
}
